<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/css/app.css">
    </head>
<body>

    <div class="App">

        <div class="menu">
            <%include templates/menu %>

        </div>
        <div class="main">
                <div class="addAction">
                        <%include templates/addAct%>
                    </div>
        <div class="box">
     <!--    <% include templates/box %> -->
        <%- include('templates/box.ejs', {data:myData}); %>
        </div>
        
    </div>
    </div>
  
</body>
</html>