<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/boxStyles/box.css>

</head>
<body>
<div class="actions">

    <div>

        <div class="actionDisplay">


            <div class="titles">



                <div class="title">amount</div>
                <div class="title act_title">action date</div>
                <div class="title">category</div>
                <div class="title des_tilte">description </div>
                <div class="title">delete</div>


            </div>

            <% include act.ejs %>
        </div>
    </div>
</div>

</body>
</html>